.font-class {
  font-family: Poppins, sans-serif;
}
.text-des {
  line-height: 150%;

  letter-spacing: 0.005em;
  color: #233;
}
.second-content {
  margin-top: 123px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 93%;
  text-align: center;
  letter-spacing: -0.04em;
  color: #1b9876;
}
.shadow-class {
  box-shadow: 0 0 7px 1px #23564a;
}
