.heading-text {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 93%;
  text-align: center;
  letter-spacing: -0.04em;
  color: #1b9876;
}
